@import "tailwindcss";

@font-face {
  font-family: "Montserrat";
  src: url("../public/fonts/Montserrat-VariableFont_wght.ttf");
}

:root {
  --bg: #ffffff;
  --bg-soft: #f4f7f9;

  --text: #003b64;
  --text-muted: #5a6e7f;

  --primary: #1db9de;
  --accent: #ff7a00;
  --dark: #004e89;

  --border: #d1dbe3;
  --white: #ffffff;
}

@theme {
  --color-bg: var(--bg);
  --color-bg-soft: var(--bg-soft);

  --color-text: var(--text);
  --color-muted: var(--text-muted);

  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-dark: var(--dark);

  --color-border: var(--border);
}