@import "tailwindcss";

:root {
  
  --bg-primary: #ffffff;
  --bg-secondary: #f4f7f9;
  
  /* Text Colors */
  --text-primary: #003b64;
  --text-secondary: #5a6e7f;
  --text-light: #ffffff;
  
  /* Brand / Logo Colors */
  --color-flow-cyan: #1db9de;
  --color-forge-orange: #ff7a00;
  --color-anvil-blue: #004e89;
  
  /* Button Colors */
  --btn-primary-bg: #ff7a00;
  --btn-primary-text: #ffffff;
  --btn-primary-hover: #e06c00;
  
  --btn-secondary-bg: #004e89;
  --btn-secondary-text: #ffffff;
  --btn-secondary-hover: #003761;
  
  /* Border & Accent */
  --border-color: #d1dbe3;
  --accent-color: #1db9de;
}

